body {
    background-color: #35ffe4;
  }

  .meuNome, .descriçao {
    font-family: Arial, Helvetica, sans-serif;
  }
  em {
    color: #00913F;
  }
  .unix-shell {
    font-size: 20px;
  }

  .git {
    font-size: 20px;
  }

  .javascript {
    font-size: 20px;
  }

  .html {
    font-size: 20px;
  }

  .css {
    font-size: 20px;
  }